/* Importação das fontes pelo Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  /*box-sizing: border-box;*/
  font-family: "Nunito", sans-serif;
  font-size: 10px;
}

/* Definição de variáveis para estilização de cores */
:root {
  --bg-font-white: #ffffff;
  --user-border-pdtinfo-gray: #7a7a7a;
  --cart-ellipse-red: #f8475f;
  --ellipse-gray: #bdbdbd;
  --bgpdts-white: #e5e5e5;
  --border-solds: #c0c0c0;
  --bgpdt-hover: #e6e8ea;
  --bg-font-black: #000000;
  --bg-newsletter: #f2f2f2;
  --input-placeholder: #585858;
}
